*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#parrafo {
    font-size: 30px;
    border-radius: 10px;
}

.botonesMath{
    width: 200px;
    padding: 20px;
    margin-top: 20px;
    font-family: 'Arial Narrow Bold', sans-serif;
}


/*!----------------------------------  */

.contenedor{
    margin-top: 100px;
}

.contenedor-boton{
    display: flex;
    align-items: center;
}

#botonBajar, #botonSubir{
    margin-left: 10px;
    cursor: pointer;
}

#botonSubir{
    display: none;
}

#desplegable{
    display: none;
    text-align: center;
    list-style: none;;
}

/*!------------------------  */
/** Conversor de temperatura */

.tituloConversor{
    margin-top: 50px;
}

.contendorprimero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 5px solid #f00;
    border-radius: 20px;
}

.contenedorPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
}


.inputCelsius, .inputFahrenheit{
    text-align: center;
    max-width: 100%;
    margin-top: 10px;
}

.labelC{
    margin-right: 34px;
}

.flecha1{
    margin-left: 20px;
    cursor: pointer;
}


/*!----------------------------------------------------  */

/** To do list */

.todotitle{
    margin-top: 100px;
}

.inputtodo{
    width: 200px;
    text-align: center;
    padding: 4px 4px;
    margin-top: 20px;
}

#agregar{
    margin-top: 20px;
}

